/* Estilos para el diseño moderno y responsive */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    }

    h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;
    }

    li {
      background-color: #f4f4f4;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 20px;
    }

    li a {
      text-decoration: none;
      color: #333;
      /* font-weight: bold; */
    }

    li a .sp1{
        padding-right: 15px;
    }

    li a .sp2{
        padding-right: 200px;
    }

    li a:hover {
      background-color: #ddd;
    }

    .btn-container {
      margin-bottom: 20px;
    }

    .btn {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      text-decoration: none;
      font-size: 16px;
    }

    .btn:hover {
      padding: 10px 20px;
      background-color: #38963b;
      color: #fff;
      border: none;
      border-radius: 4px;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
    }