/* body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 20px;
    }

    #formularioInfo {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 500px;
      margin: 0 auto;
    }

    #formularioForm, #messageForm {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 500px;
      margin: 0 auto;
    } */

    .info-group {
      margin-bottom: 10px;
    }

    label {
      font-weight: bold;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .info-group label,
    .info-group p {
      font-size: 16px;
    }

    .info-group p {
      margin-top: 5px;
    }

    .info-group:not(:last-child) {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }

    @media only screen and (max-width: 600px) {
      #formularioInfo {
        max-width: 100%;
      }
    }

    /* Form */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}